@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: OpenSans;
    src:url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: bold;
}

body {
    font-family: OpenSans;
}