body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parallax-header {
    background-image: url('../img/header-bg.jpeg');
    min-height: 376px;
    background-attachment: fixed;
    background-position: 0 -470px;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 70px;
    background-color: #1d2124;
}

.header-png{
    background-color: #1a1d20;
    width: 70px;
    height: 70px;
    display: flex;
}

.header-logo{
    display: flex;
    align-items: center;
}

.logo {
    width: 30px;
    margin: 20px 20px;
}

.header-text{
    font-size: 22px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

nav a{
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    margin-right: 40px;
}

nav a:hover{
    opacity: 0.5;
    transition: all .2s ease-out;
}

.search-icon {
    background-color: #1a1d20;
    width: 70px;
    height: 70px;
    display: flex;
}

.search-icon a{
    color: white;
    margin: 24px auto;
}

.container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.slider--bg-img{
    width: 100%;
    position: absolute;
}

.section--slider{
    max-height: 356px;
}

.slider-content{
    height: 377px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    width: 170px;
    height: 55px;
    font-size: 18px;
    color: white;
    font-weight: normal;
    border-radius: 5px ;
    border: 0;
    cursor: pointer;
    transition: all .2s ease-out;
}

.btn:hover{
    transform: scale(1.1);
    transition: all .2s ease-out;
}

.slider-text{
    margin-bottom: 35px;
    font-size: 27px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
}

.btn-subscribe{
    background-color: #89ca62;
    margin-right: 20px;
}

.btn-articles{
    background-color: #14b9d5;
}

.section-popular {
    background-color: #f2f2f2;
}

.section-popular h1{
    text-transform: uppercase;
    color: #18b4cf;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    transform: translateY(62px);
    margin-bottom: 108px;
}

.grid-container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 31px !important;
}

.grid-item1 {
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item2 {
    grid-row-start: 2;
    grid-row-end: 3;
    transform: translateY(-120px);
}

.grid-item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-item5 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item6 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    transform: translateY(-90px);
    margin-bottom: 72px;
}

.grid-container p{
    font-family: OpenSans;
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
    text-align: center;
    border: 0;
    background-color: white;
    padding: 22px 0;
    margin-top: 0;
    transition: all .5s ease-in;
    transform: translateY(-10px);
}

.grid-container a{
    text-decoration: none;
}

.grid-container p:hover {
    font-size: 19px;
    opacity: .8;
}

.grid-container img{
    margin-bottom: 0;
    padding: 0;
}

.parallax-body{
    background-image: url("../img/parallax-bg.jpeg");
    min-height: 588px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.clients-bg{
    position: absolute;
    width: 100%;
}

.clients-content{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.clients-text{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 200px;
}

.dash-blue{
    height: 3px;
    width: 60px;
    border-radius: 3px;
    background-color: #169cb4;
    justify-content: center;
    margin: 60px auto;
    margin-bottom: 20px !important;
}

.brands{
    text-align: center;
    margin-bottom: 210px;
    margin-top: 0;
}

.brands img{
    width: 20%;
    margin-right: 20px;
}

.top-rated{
    background-color: #fff;
    height: 270px;
    position: relative;
}


.top-rated-text{
    font-size: 27px;
    color: #18b4cf;
    font-weight: bold;
    text-align: center;
    margin-bottom: 55px;
}

.top-rated-img img{
    width: 100%;
    max-height: 135px;
}

.top-rated-img{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto ;
}

.news-h1{
    font-size: 18px !important;
    color: #353a3d !important;
    font-weight: bold !important;
    text-align: right !important;
    padding-right: 20px !important;
}

.news-p{
    font-size: 14px !important;
    line-height: 21px !important;
    color: #5b6469 !important;
    font-weight: normal !important;
    text-align: right !important;
    padding-right: 20px !important;
}

.w100{
    width: 100% !important;
}

.h100{
    height: 100% !important;
}

.bg-color{
    background-color: #f9f7f7 !important;
}

.no-style{
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.no-style:hover{
    transform: scale(1.03);
    transition: all 0.2s ease-out;
}

.hot-news-text{
    font-size: 27px;
    color: #18b4cf;
    font-weight: bold;
    text-align: center;
    margin: 55px 0;
}

.hot-news{
    position: relative;
    background-color: #fff;
}

.n-1{
    display: grid;
    grid-template-columns: auto auto;
}

.news-one{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.n-2 h1{
    font-size: 18px;
    color: #353a3d;
    font-weight: bold;
    text-align: center;
}

.news-two{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
    margin-top: 25px;
}

.n-8{
    display: grid;
    grid-template-columns: auto auto;
}

.news-three{
    display: grid;
    margin-top: 25px;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.n-7 h1{
    font-size: 18px;
    color: #353a3d;
    font-weight: bold;
    text-align: center;
}

footer{
    background-color: #1d2124;
    margin-top: 60px;
    width: 100%;
    height: 70px;
}

.logo-footer a{
    float: right;
}

.footer-content{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 50%;
}

.copyright{
    font-size: 13px;
    line-height: 21px;
    color: #ffffff;
    font-weight: normal;
    margin-top: 25px;
}

.logo-footer img{
    margin-top: 25px;
}

.link{
    text-decoration: none;
}