:root {
    --primary-col: black;
}

* {
    box-sizing: border-box;
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.container {
    max-width: 1064px;
    margin: 0 auto;
}

.header-logo {
    float: left;
    max-width: 165px;
    transition: all .5s ease;
    filter: saturate(1);
}

.logo {
    width: 100%;
}

.header-contact {
    float: right;
    margin-top: 47px;
    text-align: right;
}

.header-contact-link {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 18px;
    transition: all .3s ease;
}

.header-contact-link:hover {
    color: var(--primary-col);
    opacity: .7;
}

.header-logo:hover {
    filter: saturate(10);
}

.mgt {
    margin-top: 5px;
}

.mg {
    margin: 0 67px;
}

.content-image {
    max-width: 310px;
    float: left;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 36px;
    text-decoration: none;
    transition: all .3s ease;
    color: white;
}

.content-image img {
    width: 100%;
    height: auto;
    border: 2px solid white;
    border-radius: 3px;
    box-shadow: 5px 10px 10px black;
    display: block;
}

.content-image p {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.content-image:hover {
    color: black;
}

.container1 {
    position: relative;
    width: 100%;
    max-width: 310px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.container1:hover .overlay {
    opacity: 1;
}

.from {
    text-align: left;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.money {
    text-align: left;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.details {
    text-align: right;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

footer{
    width: 100%;
    text-align: center;
    margin-top: 25px;
    color: black;
    font-weight: 400;
}
