:root {
    --hover-color: #3cb878
}

* {
    box-sizing: border-box;
}


body {
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.header {
    height: 55px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin-left: 80px;
    margin-top: 17px;
    transition: all .3s ease;
}

.logo:hover {
    color: var(--hover-color);
}

.login-signup {
    float: right;
    margin-top: 17px;
    margin-right: 80px;
    margin-left: 25px;
    padding-left: 25px;
    border-left: 1px solid grey;
    color: white;
    font-size: 14px;
}

.login-signup a {
    color: var(--hover-color);
    text-decoration: none;
}

.login-signup a:hover {
    text-decoration: underline;
}

.header_links a {
    margin-top: 17px;
    float: right;
    color: white;
    transition: all .3s ease;
    margin-left: 25px;
}

.header_links a:hover {
    color: var(--hover-color);
}

.container {
    width: 445px;
    height: 555px;
    background-color: white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.square {
    margin-top: 30px;
    float: left;
    width: 15px;
    height: 15px;
    background-color: var(--hover-color);
}

.container2 {
    max-width: 326px;
    margin: 25px auto;
}

.signup {
    font-size: 20px;
    float: left;
}

.login {
    font-size: 14px;
    float: right;
    color: var(--hover-color);
    margin-top: 5px;
    text-decoration: none;
}

.login:hover {
    text-decoration: underline;
}

.signup-link {
    display: inline-block;
    margin-top: 10px;
}

.signup-link1 {
    width: 158px;
    height: 50px;
    background-color: #264b96;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
    transition: all .3s ease;
}

.signup-link2 {
    width: 158px;
    height: 50px;
    background-color: #c3412c;
    border-radius: 5px;
    float: right;
    transition: all .3s ease;
}

.signup-link i {
    color: white;
    margin: 20px 15px;
    padding-right: 15px;
    border-right: 1px solid black;
}

.signup-link span {
    color: white;
}

.signup-link1:hover {
    filter: saturate(.5);
}

.signup-link2:hover {
    filter: saturate(.5);
}

.line {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    line-height: 0.1em;
    font-weight: normal;
}

.txt3 {
    background: white;
    padding: 0 10px;
    color: grey;
    font-size: 14px;
}

.signup-form {
    text-align: center;
    margin: 10px auto 0;
}

.field  {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid lightgrey;
    padding: 13px 15px;
    border-radius: 3px;
    font-family: Roboto;
    box-shadow: none;
    transition: all .3s ease;
}

.field:focus {
    outline: none;
    box-shadow: 0 5px 10px lightgrey;
}

.field:invalid {
    border: 1px solid red;
}

.checkbox {
    font-size: 14px;
    float: left;
    margin-top: 10px;
}

.checkbox a {
    color: var(--hover-color);
    text-decoration: none;
}

.checkbox a:hover {
    text-decoration: underline;
}

.btn {
    border-radius: 5px;
    background-color: var(--hover-color);
    width: 100%;
    margin-top: 13px;
    padding: 12px 0;
    font-size: 16px;
    color: white;
    cursor: pointer;
    border: none;
    transition: all .3s ease;
}

.btn:hover {
    filter: saturate(.8);
}