* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: lightseagreen;
}

.header {
    padding: 30px 80px;
}

.menu {
    text-align: center;
    padding-top: 10px;
}

.menu li {
    display: inline-block;
    margin-left: 70px;
}

.menu li a {
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s ease-out;
}

.menu li a:hover {
    color: grey;
}

.gfg {
    width: auto;
    text-align: center;
    padding: 20px;
}

img {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

.text {
    text-align: center;
    margin: 0 100px;
    color: white;
}

.head {
    text-transform: uppercase;
    font-weight: 700;
}

.btn {
    background-color: black;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: smaller;
    padding: 10px;
    color: pink;
}

.btn:hover {
    transform: scale(1.2);
    transition: all 1s;
}

footer {
    text-align: right;
    background-color: black;
    padding: 40px 30px;
    color: white;
}