* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header {
    padding: 30px 80px;
}

.menu {
    text-align: center;
    padding-top: 10px;
}

.menu li {
    display: inline-block;
    margin-left: 70px;
}

.menu li a {
    font-weight: 700;
    color: lightseagreen;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li a:hover {
    color: red;
}

.gfg {
    width: auto;
    text-align: center;
    padding: 20px;
}

img {
    width: 75%;
    height: 75%;
    object-fit: contain;
}

.text {
    text-align: center;
    margin: 0 100px;
}

.head {
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}

.btn {
    background-color: lightseagreen;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: smaller;
    padding: 10px;
    color: white;
}

footer {
    text-align: right;
    background-color: lightgrey;
    padding: 40px 30px;
}