@font-face {
    font-family: Arimo;
    src: url('../fonts/Arimo-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Arimo;
    src: url('../fonts/Arimo-Bold.ttf') format('truetype');
    font-weight: bold;
}

body {
    font-family: Arimo;
}