* {
    box-sizing: border-box;
}

body {
    background-color: #3a4965;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    max-height: 680px;
    margin: 0 auto;
}

.table{
    border-collapse: collapse;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 1140px;
    text-transform: uppercase;
}

.bg-gr {
    background-color: #89c331;
}

.bg-red {
    background-color: #f04a56;
}

.bg-blue {
    background-color: #20807c;
}

.bg-48 {
    background-color: #484848;
}

.bg-white {
    background-color: white;
}

.bg-f2 {
    background-color: #f2f2f2;
}

.bg-e3 {
    background-color: #e3e3e3;
}

.bg-dd {
    background-color: #dddddd;
}

.head-1 {
    font-size: 18px;
    font-weight: normal;
    color: #484848;
}

.head-2 {
    font-size: 30px;
    font-weight: bold;
    color: #484848;
}

.medpx {
    font-size: 24px;
    font-weight: bold;
}

.lgpx {
    font-size: 30px;
    font-weight: bold;
}

.height70 {
    height: 70px;
}

.height110 {
    height: 110px;
}

.whitetext {
    color: white;
}

.border-row {
    border: none;
}

.table-td {
    box-shadow: 0 1px 3px grey;
    color: #484848;
    border: none;
}

.price {
    font-size: 60px;
    font-weight: bold;
    float: left;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.container2 {
    top: 0;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 50px;
}

.container2 h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.container2 span {
    font-size: 18px;
    font-weight: normal;
    margin-top: 0;
}

.table-td2 {
    box-shadow: 0 1px 3px grey;
    color: #484848;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    border: none;
}

.fa {
    margin-right: 25px;
    color: #848484;
}

.btn {
    font-size: 16px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    border: none;
    padding: 15px 45px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s ease-out;
}

.btn:hover {
    border-bottom: 8px solid rgba(0, 0, 0, .1);
}
