*{
    padding: 0;
    margin: 0;
}

body{
    font-size:23px;
    background: white;
    color: white;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container .form{
    flex:1 1 500px;
    height: 250px;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
}

.form .form-text{
    font-size: 32px;
    height: 30px;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid #777;
    outline: none;
}

.btn{
    border-radius: 5px;
    font-size: 17px;
    color: white;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
}

.btn-submit{
    background-color: white;
}

.btn-rounded{
    margin-bottom: 15px;
    color: #fff;
    background-color: #e9e6e6;
    height: 50px;
    width: 50px;
    padding: 5px;
    text-transform: lowercase;
}

.span{
    background-color: white;
    padding: 5px;
    color: #000;
    display: block;
    float: left;
    border: 2px solid #777;
    border-radius: 10px;
}

.error-text{
    color: rgb(211, 52, 52);
    display: block;
}

label {
    color: black;
}